
@media screen and (min-width: 956px) {
/* body of page*/
html {
    background-image: url('../assets/background.png'); /*background behind the counter is from: https://play.google.com/store/apps/details?id=com.tapblaze.coffeebusiness&hl=en_US&pli=1-->*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

h3{
    display: none;
}

img {
    position: absolute;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));
}

img:hover {
    transform: translateY(-10px);
    filter: drop-shadow(0px 0px 10px white);
}

#main-content {
    filter: none; /* Default state */
    transition: filter 0.3s ease;
}

#main-content.blur {
    filter: blur(5px); /* Blurred state */
    pointer-events: none;
}

h1 {
    position: absolute;
    background-color: pink;
    border-radius: 0px 0px 10px 10px;
    left: 1070px;
    font-size: 25px;
    color: white;
    top: -17px;
    padding: 0px 10px;
    filter: drop-shadow(0px 0px 10px black);
}

/* Scoreboard */
.scoreboard {
    margin-left: 10px;
    top: 10px;
    background-color: white;
    border-radius: 10px;
    padding-left: 40px;
    background-position: center;
    width: 170px;
    height: 120px;
    position: absolute;
    border: 6px solid pink;
    z-index: 50;
}

#fire {
    all: unset;
    position: absolute;
    width: 26px;
    top: 58px;
    left: 25px;
    z-index: 100;
}

#coin {
    all: unset;
    position: absolute;
    width: 34px;
    top: 23px;
    left: 23px;
    z-index: 100;
}

#timer-icon {
    all: unset;
    position: absolute;
    width: 32px;
    top: 92px;
    left: 23px;
    z-index: 100;
}

/* Ingredients Book */
#ingredients-book {
    position: fixed;
    width: 80px;
    left: 250px;
    top: 30px;
    z-index: 10000;
}

#ingredients-book:hover {
    transform: translateY(-10px);
    filter: drop-shadow(0px 0px 10px white);
}

/* Background Music */
#audio-controls {
    position: absolute;
    top: 770px;
    left: 10px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 7px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
}
#music-toggle {
    align-self: center;
    border: 4px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
}
#music-toggle:hover {
    background-color: rgb(171, 171, 171);
}

#mute-music:hover {
    background-color: rgb(171, 171, 171);
}

#volume-slider {
    top: 790px;
    left: 190px;
    border: 4px solid pink;
}

#toggle-sfx {
    align-self: center;
    border: 4px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
}

#toggle-sfx:hover {
    background-color: rgb(171, 171, 171);
}

/* Order Note */
#order {
    position: relative;
    width: 100%;
    height: auto;
}

#order-background {
    width: 170px;
    margin-left: 283px;
    margin-top: -160px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.order-container {
    width: auto;
    height: auto;
    padding-left: 10px;
    color: black;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    margin-left: 188px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1;
    padding: 0;
}

  .order-container h2 {
    margin-top: 40px;
    margin-left: 316px;
    text-align: center;
    font-size: 15px;
    z-index: 2;
    position: relative;
}

  .order-container p {
    font-size: 8px;
    font-weight: bolder;
    margin-left: 307px;
    z-index: 2;
    position: relative;
}

#popup-content {
    position: relative;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 2000;
}

#order-popup {
    text-align: left;
}

#close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(117, 9, 58);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#close-popup:hover {
    background-color: rgb(78, 6, 38);
}

/* Trash */
#trash {
    width: 100px;
    top: 660px;
    left: 20px;
}


/* Register */
#register {
    width: 350px;
    margin-left: 1170px;
    top: -30px;
}

/* Cups */
#cup-stack {
    width: 270px;
    margin-left: 1040px;
    top: 160px;
    z-index: 90;
}

#cup {
    position: absolute;
    width: 280px;
    margin-left: 660px;
    top: 480px;
    z-index: 1000;
    display: inline-block;
    pointer-events: none;
    padding: 0;
}

/* Lids */
#lid-stack {
    width: 200px;
    margin-left: 1290px;
    top: 230px;
    z-index: 100;
}

#lid {
    position: absolute;
    width: 280px;
    margin-left: 660px;
    top: 480px;
    z-index: 1001;
    display: inline-block;
    pointer-events: none;
    padding: 0;
}

/* Straws*/
#straws {
    width: 170px;
    margin-left: 1020px;
    top: 370px;
    z-index: 100;
}

#straw {
    position: absolute;
    width: 280px;
    margin-left: 657px;
    top: 378px;
    z-index: 1002;
    display: inline-block;
    pointer-events: none;
    padding: 0;
}

/* Glitter */
#glitter {
    width: 170px;
    margin-left: 1150px;
    top: 380px;
    z-index: 100;
}

/* Milks */

.milks {
    width: 180px;
    top: 240px;
    margin-left: 300px;
}

#milk {
    margin-left: -30px;
}

#oat_milk {
    margin-left: 52px
}

#almond_milk {
    margin-left: 136px;
}

#soy_milk {
    margin-left: 220px;
}

#strawberry_milk {
    margin-left: 303px;
}

/* Syrups */
.syrups{
    width: 180px;
    top: 480px;
}

#strawberry_syrup{
    margin-left: 1040px;
    z-index: 104;
}

#passionfruit_syrup{
    margin-left: 1135px;
    z-index: 103;
}

#mango_syrup{
    margin-left: 1230px;
    z-index: 102;
}

#brown_sugar_syrup{
    margin-left: 1325px;
    z-index: 101;
}

/* Toppings */
.toppings{
    width: 150px;
}

#brown_sugar_boba {
    margin-left: 500px;
    top: 362px;
}

#mango_jelly_stars {
    margin-left: 500px;
    top: 470px;
}

#lychee_jelly {
    margin-left: 640px;
    top: 362px;
}

#rainbow_jelly {
    margin-left: 640px;
    top: 470px;
}

/* Ice */
#ice {
    width: 220px;
    margin-left: 800px;
    top: 380px;
    z-index: 0;
}

/* Steeper */
#steeper {
    width: 200px;
    top: 560px;
    margin-left: 300px;
}

/* Tea Tins */
.tea-tin {
    width: 140px;
    top: 400px;
}

#black-tea-tin {
    margin-left: 100px;
}

#jasmine-tea-tin {
    margin-left: 200px;
}

#taro-tea-tin {
    margin-left: 300px;
}

/* In Cup Ingredients */

.ingredient-in-cup {
    position: absolute;
    width: 300px;
    margin-left: 650px;
    top: 460px;
    z-index: 990;
    pointer-events: none;
    padding: 0;
}

  /* Layering Order in Cup */
.ice {
    z-index: 1;
}

.milk {
    z-index: 2;
}

.tea {
    z-index: 3;
}

.topping {
    z-index: 4;
}

.glitter {
    z-index: 5;
}

.syrup {
    z-index: 6;
}


/* Tutorials */
.popup {
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.popup button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #ddd;
}

.exit-button {
    position: absolute;
    top: 86px;
    left: 760px;
    background-color: rgb(63, 3, 33);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.exit-button:hover {
    background-color: rgb(130, 36, 83);
}


#prev-page {
    position: absolute;
    top: 540px;
    left: 390px;
    background-color: rgb(63, 3, 33);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;

    cursor: pointer;
}

#prev-page:hover {
    background-color: rgb(130, 36, 83);
}

#next-page {
    position: absolute;
    top: 540px;
    left: 740px;
    background-color: rgb(63, 3, 33);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#next-page:hover {
    background-color: rgb(130, 36, 83);
}

#tutorial-popup {
    all: unset;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

#tutorial-page {
    all: unset;
    width: 100%;
    height: auto;
    position: relative;
}

.tutorial-button {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

/* Ingredients Book */
#ingredients-book-popup {
    all: unset;
    position: fixed;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

#ingredients-book-page {
    all: unset;
    width: 100%;
    height: auto;
    position: relative;
}

#prev-ingredients-page {
    position: absolute;
    top: 608px;
    left: 390px;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border: 8px solid rgb(16, 84, 84);
}

#prev-ingredients-page:hover {
    background-color: grey;
}

#next-ingredients-page {
    position: absolute;
    top: 608px;
    left: 724px;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    border: 8px solid rgb(16, 84, 84);
    cursor: pointer;
}

#next-ingredients-page:hover {
    background-color: grey;
}
}

@media screen and (min-width: 1550px) {

h1 {
    width: 18%;
    left: 71%;
    font-size: 1.68vw;
    top: -2.2%;
}

header {
    width: 100%;
}

.scoreboard {
    width: 11.5%;
    height: 15%;
    font-size: 1.1vw;
    left: .1%;
}

#fire {
    width: 1.6%;
    top: 7.3%;
    left: 1.4%;
}

#coin {
    width: 2.2%;
    left: 1.2%;
    top: 2.7%;
}

#timer-icon {
    width: 2.2%;
    left: 1.2%;
    top: 11.2%;
}

#ingredients-book {
    width: 5.4%;
    left: 16.5%;
}

#audio-controls {
    width: 26%;
    height: 4%;
    top: 93%;
}

#music-toggle {
    width: 100%;
    font-size: 1vw;
}

#volume-slider {
    width: 93%;
}

#toggle-sfx {
    width: 100%;
    font-size: .9vw;
}

#order {
    width: 100%;
}

#order-background {
    width: 11vw;
    left: 12%;
    top: 94%;
}

.order-container h2 {
    left: 11.5%;
    font-size: 1vw;
}

.order-container p {
    left: 12.5%;
    font-size: .51vw;
}

#popup-content {
    width: 85%;
    height: 80%;
    font-size: 1.08vw;
}

#order-popup {
    width: 20%;
    height: 28%;
}

#close-popup {
    width: 10%;
    height: 12%;
    left: 86%;
}

#trash {
    width: 6.5%;
    top: 79.8%;
}

#register {
    width: 23%;
    left: 8%;
    top: -3%;
}

#cup-stack {
    width: 18%;
    left: 6.5%;
    top: 20%;

}

#cup {
    width: 18.5%;
    left: 4.8%;
    top: 58.5%;
}

#lid-stack {
    width: 13.5%;
    left: 8.5%;
    top: 28%;
}

#lid {
    width: 18.5%;
    left: 4.8%;
    top: 58.5%;
}

#straws {
    width: 11%;
    left: 7.5%;
    top: 46%;
}

#straw {
    width: 18.5%;
    left: 4.8%;
    top: 46.1%;
}

#glitter {
    width: 11%;
    left: 7.7%;
    top: 47%;
}

.milks {
    width: 12%;
    top: 29%;
}

#oat_milk {
    left: .6%;
}

#almond_milk {
    left: 1.1%;
}

#soy_milk {
    left: 1.7%;
}

#strawberry_milk {
    left: 2.3%;
}

.syrups {
    position: absolute;
    width: 11.9%;
    top: 58.2%;
}

#strawberry_syrup {
    left: 7%;
}

#passionfruit_syrup {
    left: 7.6%;
}

#mango_syrup {
    left: 8.2%;
}

#brown_sugar_syrup {
    left: 8.8%;
}

.toppings {
    width: 10%;
    left: 3.5%;
}

#brown_sugar_boba {
    top: 44%;
}

#mango_jelly_stars {
    top: 57%;
}

#lychee_jelly {
    top: 44%;
    left: 4.5%;
}

#rainbow_jelly {
    top: 57%;
    left: 4.5%;
}

#ice {
    width: 14.5%;
    top: 46.5%;
    left: 5.5%;
}

#steeper {
    width: 13.2%;
    left: 2%;
    top: 68%;
}

.tea-tin {
    width: 9.3%;
    top: 49%;
}

#black-tea-tin {
    left: 1%;
}

#jasmine-tea-tin {
    left: 2%;
}

#taro-tea-tin {
    left: 3%;
}

.ingredient-in-cup {
    width: 18%;
    top: 59.3%;
    left: 5.5%;
}

.milk {
    width: 18.4%;
    top: 59%;
}

.tea {
    width: 18.2%;
    left: 5.58%;
}

.glitter {
    left: 5.8%;
}

.syrup {
    width: 18.8%;
    top: 56.5%;
    left: 5.4%;
}

.popup button {
    left: 63%;
    top: 13%;
}

#prev-page {
    width: 8%;
    height: 4%;
    top: 81%;
    left: 33%;
    font-size: 1vw;
}

#next-page {
    width: 6%;
    height: 4%;
    top: 81%;
    left: 61%;
    font-size: 1vw;
}

#prev-ingredients-page {
    left: 32%;
    top: 91%;
}

#next-ingredients-page {
    left: 61%;
    top: 91%;
}

}

@media screen and (min-width: 1890px) {

h1 {
}

.scoreboard {
    width: 12%;
    border: 8px solid pink;
    left: .2%;
}

#ingredients-book {
    top: 4%;
    left: 16.5%;
}

#audio-controls {
    width: 26%;
}

#volume-slider {
    width: 100%;
}

#toggle-sfx {
    margin-left: 8%;
}

#order-background {
    left: 26%;
    top: 82%;
}

.order-container {
    top: 1%;
}

.order-container h2 {
    left: 26%;
}

.order-container p {
    left: 28%;
}

#close-popup {
    left: 87%;
}


#register {
    left: 16%;
}

#cup-stack {
    left: 14%;
}

#cup {
    left: 9%;
}

#lid-stack {
    left: 18%;
}

#lid {
    left: 9%;
}

#straws {
    left: 14%;
}

#straw {
    left: 9%;
}

#glitter {
    left: 16%;
}

#oat_milk {
    left: 1.2%;
}

#almond_milk {
    left: 2.3%;
}

#soy_milk {
    left: 3.4%;
}

#strawberry_milk {
    left: 4.5%;
}

#strawberry_syrup {
    left: 14%;
}

#passionfruit_syrup {
    left: 15.2%;
}

#mango_syrup {
    left: 16.4%;
}

#brown_sugar_syrup {
    left: 17.6%;
}

#brown_sugar_boba {
    left: 6.7%;
}

#mango_jelly_stars {
    left: 6.7%;
}

#lychee_jelly {
    left: 8.7%;
}

#rainbow_jelly {
    left: 8.7%;
}

#ice {
    left: 10.8%;;
}

#steeper {
    left: 4%;
}

#black-tea-tin {
    left: 1.5%;
}

#jasmine-tea-tin {
    left: 3.5%;
}

#taro-tea-tin {
    left: 5.5%;
}

.ingredient-in-cup {
    left: 9.8%;
}

.milk {
    left: 9.65%;
}

.tea {
    left: 9.7%;
}

.glitter {
    left: 9.9%;
}

.syrup {
    left: 9.5%;
}
}

@media screen and (min-width: 1900px) {

.scoreboard {
    left: .4%;
}

#order-background {
    top: 77%;
}

.order-container {
    top: 1%;
    left: 2%;
}

#register {
    left: 19.8%;
}

#cup-stack {
    left: 17%;
}

#cup {
    left: 11%;
}

#lid-stack {
    left: 22%;
}

#lid {
    left: 11%;
}

#straws {
    left: 18%;
}

#straw {
    left: 11%;
}

#glitter {
    left: 20%;
}

#oat_milk {
    left: 1.4%;
}

#almond_milk {
    left: 2.8%;
}

#soy_milk {
    left: 4.2%;
}

#strawberry_milk {
    left: 5.6%;
}

#strawberry_syrup {
    left: 17.5%;
}

#passionfruit_syrup {
    left: 19%;
}

#mango_syrup {
    left: 20.5%;
}

#brown_sugar_syrup {
    left: 22%;
}

#brown_sugar_boba {
    left: 8.5%;
}

#mango_jelly_stars {
    left: 8.5%;
}

#lychee_jelly {
    left: 11%;
}

#rainbow_jelly {
    left: 11%;
}

#ice {
    left: 13.5%;
}

#steeper {
    left: 5%;
}

#black-tea-tin {
    left: 2%;
}

#jasmine-tea-tin {
    left: 4%;
}

#taro-tea-tin {
    left: 6%;
}

.ingredient-in-cup {
    left: 11.6%;
}

.tea {
    left: 11.7%;
}

.glitter {
    left: 11.8%;
}

.syrup {
    left: 11.4%;
}
}

